body {
  background-color: aliceblue;
}

@keyframes menu {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.menuIcon {
  float: right;
  margin: 30px;
  font-size: 20px;
  color: dodgerblue;
  cursor: pointer;
  transition: 0.5s;
  animation: menu 1s infinite alternate;
}

.menuIcon:hover {
  color: #000000;
}

/* 사이드바 css */
.sideContainer {
  width: 400px;
  height: 100vh;
  background-color: #ffffff;
}

.sideHeader {
  padding: 20px;
}

.sideHeader i {
  float: right;
  color: #ff0000;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.sideHeader i:hover {
  transform: rotate(180deg);
}

.links {
  margin: 20px 0;
  margin-bottom: auto;
}

.links li {
  padding: 15px 20px;
  font-size: 20px;
  color: #696969;
  transition: 0.5s;
}

.links li:hover {
  color: dodgerblue;
  background-color: aliceblue;
  padding-left: 30px;
}

.brand-links {
  position: absolute;
  bottom: 0;
  width: 400px;
  padding: 30px;
}

.brand-links ul {
  display: flex;
  justify-content: center;
}

.brand-links li {
  margin: 0 10px;
  color: dodgerblue;
  font-size: 20px;
  transition: 0.5s;
}

.brand-links li:hover {
  color: #000000;
}
